<p>crud works!</p>

<input type="text" placeholder="Full name" required>
<input type="tel" placeholder="phone" required>
<input type="email" placeholder="mail" required>
<input [(ngModel)]="newItem" type="text" placeholder="Nuevo Item" (keydown.enter)="onEnter()">
<button (click)="addItem()">Add</button>

<ul>
    <!-- <button (click)="findItem(i)" >Editar</button>
    <button (click)="deleteItem(i)">Borrar</button> -->

    @for (item of data; track item.full_name) {
        <li>{{ item.full_name }}</li>
    } @empty {
        <li>There are no users.</li>
    }
</ul>

<div *ngIf="editingIndex !== null">
    <input [(ngModel)]="editingItem" placeholder="Editar item" (keydown.enter)="onEnterEdit()">
    <button (click)="editItem()" >Save</button>
</div>