<p>crud works!</p>

<input #fullNameInput [(ngModel)]="full_name" type="text" placeholder="Full name" required>
<input [(ngModel)]="phone" type="tel" placeholder="phone" required>
<input [(ngModel)]="mail" type="email" placeholder="mail" required (keydown.enter)="onEnter()">
<button (click)="addItem()">Add</button>

<ul>
    
    @for (item of data; track item.full_name ) {
        <li>
            {{ item.full_name }} - {{item.mail}}
            <button (click)="findItem(item.id_user)" >Edit</button>
            <button (click)="deleteItem(item.id_user)">Delete</button> 
        </li>

    } @empty {
        <li>There are no users.</li>
    }
</ul>

<div *ngIf="editingIndex !== null">
    <input [(ngModel)]="editingPhone" placeholder="update phone">
    <input [(ngModel)]="editingMail" placeholder="update mail" (keydown.enter)="onEnterEdit()">
    <button (click)="editItem()">Save</button>
</div>